
<div class='col-md-10 col-md-offset-1 text-center'>
 <h1>Scuba Central Members</h1>

  </div>
<div class = 'col-md-10 col-md-offset-1 text-center'> 
<table>
<p class='lead'>
  <tr>
    <th>Username</th>
    \<th>Avatar</th>
    <th colspan="2"></th>
  </tr>
 </p>
  <% @users.each do |user| %>
    <tr>
    
    <p class='lead'>
      <td><p class='lead'><div class='col-md-6'><p class='lead'><%= user.username %></td></div></p>
      <td><div class='col-md-6'><p class='lead'><%= image_tag user.avatar.url(:thumb) %></td></div></p>
      </p>      
    </tr>

  <% end %>
  </table>


<button type='button' class='btn btn-warning'><%= link_to 'Reviews', articles_path %></button>
</div>
</div>














