
<body>
<div class='col-md-10 col-md-offset-1 text-center'>
 <h1>Welcome to Scuba Central!</h1>

  </div>
  <div class='container'>
 
    <div class='col-md-6 col-md-offset-3 text-center'>
    <h2>The site for all your Scuba needs!</h2>
       <p class="lead">Review equipment! Post photos! Make a blog!</br>
       Check the tides! Check the surf! Plan your trip!
       </p>
       <button type='button'><%= link_to 'Sign In', new_session_path %></button>
       <button type='button' class='btn btn-danger'><%= link_to 'Sign Up', new_user_path %></button>
    </div>
  </div>



</body>

 


