<div class="container">
<div class="row clearfix splash" style="background-image:url(<%= asset_path 'b_w_scuba.jpeg'%>); width: 100%; background-repeat: none; background-size: cover;">

<div class="column full banner">
<h1>Welcome to Scuba Central!</h1>
<p>The site for all your Scuba needs!</br>
   Review equipment! Post photos! Make a blog!</br>
   Check the tides! Check the surf! Plan your trip!
</p>
<div class="buttons">

<%= link_to 'Sign In', new_session_path, class: 'button_secondary' %>

 <%= link_to 'Sign Up', new_user_path, class: 'button' %>

 </div>
 </div>
 </div>

 <div class="column full">
		<p class="copyright">Made with &hearts; by Katie Kelleher</p>
	</div>


